@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Kia";
  src: url("./assets/fonts/KiaSignatureOTFBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kia";
  src: url("./assets/fonts/KiaSignatureOTFLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kia";
  src: url("./assets/fonts/KiaSignatureOTFRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }